body {
  font-family: sans-serif;
}

.circle {
  background-color: skyblue;
  border-radius: 30px;
  height: 60px;
  width: 60px;
  font-size: 2px; /*文字サイズを小さくして、視力検査ができるようにしました*/
  position: absolute;
}
